/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    /*background-image: url('../images/bgimage.jpg');*/
    
    height:660px;
    background-color: #cccccc;
    background-image: linear-gradient(white,lightcyan,lightpink);
}
